@import 'tailwindcss';

@theme{
  --Color--primary: #111;
  --Color--secondary: #220000;
  --Color--font: #bbb;
}

body{
  background: linear-gradient(to right, var(--Color--primary), var(--Color--secondary));
  color: var(--Color--font);
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Oswald', sans-serif;
}

p, span, div, a, li, button, input, textarea{
  font-family: 'NotoSans', sans-serif;
}


