@font-face {
    font-family: 'Oswald';
    src: url('./Oswald-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('./NotoSans-Regular.ttf');
    font-weight: normal;
}